.container {
    position: relative;
    @include glass;
    z-index: 10;

    .calculator {
        position: relative;
        display : grid;

        .input {
            border       : none;
            height       : 120px;
            width        : 300px;
            background   : transparent;
            padding-right: 15px;
            padding-left : 15px;
            text-align   : right;
            color        : white;
            font-size    : 30px;
            grid-column  : span 4;
            @include border-br;
            letter-spacing: 3px;

        }

        .num {
            display        : grid;
            place-items    : center;
            cursor         : pointer;
            user-select    : none;
            //300/4=75width: 75px;
            height         : 75px;
            width          : 75px;
            color          : white;
            font-size      : 25px;
            text-align     : center;
            @include border-br;
            transition        : all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition   : all 0.5s;
            -ms-transition    : all 0.5s;
            -o-transition     : all 0.5s;





            &.clear {
                grid-column       : span 2;
                width             : 150px;
                background-color  : rgba(#ffffff, .02);
                transition        : 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition   : 0.5s;
                -ms-transition    : 0.5s;
                -o-transition     : 0.5s;

                &:active {
                    background-color: $clear-color;
                }
            }

            &.plus {
                grid-row          : span 2;
                background-color  : rgba(#ffffff, .02);
                height            : 150px;
                transition        : 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition   : 0.5s;
                -ms-transition    : 0.5s;
                -o-transition     : 0.5s;

                &:active {
                    background-color: $plus-color;
                }

            }

            &.equal {
                background-color  : rgba($color: #ffffff, $alpha:.02);
                transition        : 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition   : 0.5s;
                -ms-transition    : 0.5s;
                -o-transition     : 0.5s;

                &:active {
                    background-color: $equal-color;
                }
            }

            &.mines {
                background-color  : rgba($color: #ffffff, $alpha:.02);
                transition        : 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition   : 0.5s;
                -ms-transition    : 0.5s;
                -o-transition     : 0.5s;

                &:active {
                    background-color: $mines-color;
                }
            }

            &.divide {
                background-color  : rgba($color: #ffffff, $alpha:.02);
                transition        : 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition   : 0.5s;
                -ms-transition    : 0.5s;
                -o-transition     : 0.5s;

                &:active {
                    background-color: $divide-color;
                }
            }

            &.zarb {
                background-color  : rgba($color: #ffffff, $alpha:.02);
                transition        : 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition   : 0.5s;
                -ms-transition    : 0.5s;
                -o-transition     : 0.5s;

                &:active {
                    background-color: $zarb-color;
                }
            }




            &:hover {
                background-color  : rgba(#ffffff, .05);
                transition        : 0s;
                -webkit-transition: 0s;
                -moz-transition   : 0s;
                -ms-transition    : 0s;
                -o-transition     : 0s;
            }

            &:active {
                background-color: $active-color;
            }
        }
    }

}